//  общие стили
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.welcome {
    height: 919px;

    background: url(./img/noise_transparent@2x.png),radial-gradient(195.87% 111.80% at 0% 0%,rgb(91, 72, 58),rgb(38, 36, 37) 100%)/* Предупреждение: градиент использует вращение, не поддерживаемое CSS, и может работать не так, как ожидается. */,rgb(33, 31, 32);
    h2 {
        color: rgb(241, 205, 179);
        font-family: Georgia;
        font-size: 32px;
        font-weight: 400;
    }
    .paragraph__title{
        color: rgb(255, 255, 255);
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__title {
        margin-left: 40px;
        margin-top: 30px;
    }

    .header__nav {
        margin-top: 46px;
        margin-right: 40px;
    }
    .header__list {
        display: flex;
        gap: 35px;
}
    .list__item {
        color: rgb(205, 205, 205);
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
    }
    .title {
        display: flex;
        justify-content: space-evenly;
        // gap: 40px;
    }
    .text {
        margin-left: 40px;
        margin-top: 340px;
    }
    .heading {
        width: 310px;
        height: 114px;
        color: rgb(255, 255, 255);
        font-family: Georgia;
        font-size: 44px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .title__text {
        color: rgb(205, 205, 205);
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        width: 460px;
        height: 72px;
        margin-bottom: 40px;
    }
    .title__btn{
        border-radius: 100px;
        background: rgb(241, 205, 179);
        width: 207px;
        height: 52px;
        border:none;
        color: rgb(41, 41, 41);
        font-family: Georgia;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
    }
    .img__title {
        margin-left: 40px;
        margin-top: 110px;
    }
}

.about {
    
    height: 588px;
    
    .wrapper{
    display: flex;
    justify-content: space-around;
    margin: 80px 215px 100px 215px;
    height: 410px;
    }

    h2 {
        width: 350px;
        height: 90px;
        color: rgb(84, 84, 84);
        font-family: Georgia;
        font-size: 35px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 6%;
        margin-bottom: 25px;
    }

    .text__high {
        width: 430px;
        height: 96px;
        color: rgb(76, 76, 76);
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 25px;
        
    }
    .text__low {
        width: 430px;
        height: 145px;
        color: rgb(76, 76, 76);
        font-family: Arial;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;
    }

}